<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ICalculatorService" textEncoding="utf-8"
     messageEncoding="Text" />
    <binding name="BasicHttpBinding_ICalculatorService1" />
    <binding name="BasicHttpBinding_ICalculatorService2" />
    <binding name="BasicHttpBinding_ICalculatorService3" />
    <binding name="BasicHttpBinding_ICalculatorService4" />
   </basicHttpBinding>
  </bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- Other service behavior settings -->
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
   <endpoint address="http://localhost:9003/CalculatorService" binding="basicHttpBinding"
    contract="Namespace.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
   <endpoint address="http://localhost:9004/CalculatorService" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_ICalculatorService1" contract="Server3.ICalculatorService"
    name="BasicHttpBinding_ICalculatorService1" />
   <endpoint address="http://localhost:9002/CalculatorService" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_ICalculatorService2" contract="Server1.ICalculatorService"
    name="BasicHttpBinding_ICalculatorService2" />
  </client>
	</system.serviceModel>
</configuration>
